assets/
baileys_auth/
node_modules/
temp/
transcripts/
media_archive/
instances/
logs/
setup_storage/

.env
ffmpeg.exe
package.json
package-lock.json
ticket_status.json
user_cards.json
channel_map.json
instance_configs.json